<!DOCTYPE html>
<html lang="pt-br">
<head>
  <link rel="stylesheet" href="../_css/style.css">

    <link rel="manifest" href="manifest.json">
    <link rel="icon" type="imagem/png" href="icon-512x512.png">
    <link rel="apple-touch-icon" type="imagem/png" href="icon-512x512.png">
    <link rel="shortcut icon" type="imagem/png" href="icon-512x512.png">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Pagina dois</h1>
    <div> 
        <a class="button" href="/">Page 1</a>
        <a class="button" href="page2">Page 2</a>
        <a class="button" href="#">Page 3</a>
        <a class="button" href="#">Page 4</a>
    </div>
    <p>é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a</p>
    <h3>teste titulo</h3>
    <p>é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a</p>
    <h3>teste titulo</h3>
    <p>é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a </p>
    <h3>teste titulo</h3>
    <p>é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a</p>
    

    <script>
        if('serviceWorker' in navigator){
          navigator.serviceWorker.register('generate-sw.js');
        }
          </script>
</body>
</html>