
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f49d415fdb.js" crossorigin="anonymous"></script>  <!-- font dos icones-->
    <link rel="stylesheet" href="../_css/style.css"/>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link rel="manifest" href="manifest.json">
    <link rel="icon" type="imagem/png" href="icon-512x512.png">
    <link rel="apple-touch-icon" type="imagem/png" href="icon-512x512.png">
    <link rel="shortcut icon" type="imagem/png" href="icon-512x512.png">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Entretenimento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tabela de preços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Outros</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  

  <header class="main-header">
    <h1 class="main-header__title">
      <span class="main-header__title--blue">Kris || </span><span class="main-header__title--orange">Desing Unhas em gel</span>
    </h1>
    <div div class="container-menu">
      <nav class="main-header__menu ul ">
        <ul >
          <li > <a href=""> Produtos</a></li>
          <!--link com a pagina -->
          <li>
            
          <li><a href=""> Contato</a></li>
          <!-- aqui abre direto a pagina contato-->
  
          <li>
            <a href="//www.facebook.com/kricianne.pires?mibextid=ZbWKwL" > <i class="fa-brands fa-facebook-f"></i></a>
          </li>
      
          <li>
            <a href="https://instagram.com/kricianne?igshid=YmMyMTA2M2Y="> <i class="fa-brands fa-instagram"></i></a>
          </li>
         
        </ul>
      </nav>
      </div>
   </header>
         <!-- esse produto é a variavel que recebe produtos-->
         <section class="product-list">                            <!-- esse produtos criamos essa variavel na classe que recebeu a lista-->
          <div class="product-list__card">  <!-- esse ngFor renderiza a lista de produtos-->
            <a class="product-list__link">
                <img class="img" src="../_img/1.jpg">   
          </div>
          <div class="product-list__card">  <!-- esse ngFor renderiza a lista de produtos-->
            <a class="product-list__link">
                <img class="img" src="../_img/9.jpg">   
          </div>
          <div class="product-list__card">  <!-- esse ngFor renderiza a lista de produtos-->
            <a class="product-list__link">
                <img class="img" src="../_img/3.jpg">   
          </div>
          <div class="product-list__card">  <!-- esse ngFor renderiza a lista de produtos-->
            <a class="product-list__link">
                <img class="img" src="../_img/4.jpg">   
          </div>
          <div class="product-list__card">  <!-- esse ngFor renderiza a lista de produtos-->
            <a class="product-list__link">
                <img class="img" src="../_img/5.jpg">   
          </div>
          <div class="product-list__card">  <!-- esse ngFor renderiza a lista de produtos-->
            <a class="product-list__link">
                <img class="img" src="../_img/6.jpg">  
          </div> 
          <div class="product-list__card">  <!-- esse ngFor renderiza a lista de produtos-->
            <a class="product-list__link">
                <img class="img" src="../_img/7.jpg">   
          </div>
                   <div class="product-list__card">  <!-- esse ngFor renderiza a lista de produtos-->
            <a class="product-list__link">
                <img class="img" src="../_img/2.jpg">   
          </div>
          <div class="product-list__card">  <!-- esse ngFor renderiza a lista de produtos-->
            <a class="product-list__link">
                <img class="img" src="../_img/10.jpg">   
          </div>
          <div class="product-list__card">  <!-- esse ngFor renderiza a lista de produtos-->
            <a class="product-list__link">
                <img class="img" src="../_img/11.jpg">   
          </div>
          <div class="product-list__card">  <!-- esse ngFor renderiza a lista de produtos-->
            <a class="product-list__link">
                <img class="img" src="../_img/12.jpg">   
          </div>
          <div class="product-list__card">  <!-- esse ngFor renderiza a lista de produtos-->
            <a class="product-list__link">
                <img class="img" src="../_img/13.jpg">   
          </div>
         
          </div>
        </section>
        <footer class="footer">
          <div class="footer__container">
           <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Especialista em Desing de unha em gel.  </p>
           </section>
           <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
              <li><i class="fa-regular fa-envelope"></i> krycianne@gmail.com</li>
              <li><i class="fa-solid fa-phone"></i> (64) 9 8117-6150</li>
              <li><i class="fa-brands fa-square-whatsapp"></i> (64) 9 8117-6150</li>
            </ul>
           </address>
          </div>
              <section class="footer__copyright">
               &copy; Todos os direitos reservados
              </section>
          </footer>   
<script>
    if('serviceWorker' in navigator){
      navigator.serviceWorker.register('generate-sw.js');
    }
      </script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>


