body {
    background-color: black;
    
}
h1{
    text-shadow: 2px 1px 1px #ccc;
    color: white;
    font-size: 32px;
    text-align: center;
    background-color: green;
}
h2{
    color: white;
    text-shadow: 3px 3px 4 px #ccc;
    font-size: 25px;
}
p {
    color: lightgreen;
    font-size: 18px;
}

#div-1{
    font-size: 12px;
    color: green;
}

a.button:link, a button:visited{
    background-color: #ce3126;
    color: white;
    padding: 23px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    width: 12%;
    margin-top: 2%;
    font-weight: bolder;
    font-size: 17px;
    border: limegreen solid 1px;
}