*{
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    
}
/*header*/
.main-header {
    padding: 10px 10px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
  }
  
  .main-header__title {
    font-size: 80px;
    letter-spacing: -1.5px;
  }
  
  .main-header__title--blue {
    color: var(--blue);
    color: blue;
    font-size:60px;
  }
  
  .main-header__title--orange {
    color: var(--orange);
    color: orange;
    font-size:60px;
  }
  
  .main-header__menu ul {
    display: flex;
    justify-content: flex-end;
   
  }
  
  .main-header__menu a {
    padding: 10px 10px;
    color: gray;
    font-weight: 400;
    font-size: 22px;
    text-decoration: none;
    transition: all .3s ease-in-out;
  }
  
  li{
     list-style-type: none;
  }

  .main-header__menu a:hover {
    background-color: blue;
    color: #fff;
  }
  
  .container-menu {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex: 1;
  }
  







/*corpo*/

.product-list {
    padding: 10px 0;
    width: fit-content;
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    margin-left: 15px;
    
}
.product-list__card {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    flex: 0 1 270px;
    height: 300px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 10px;
}

.product-list__card:hover {
    outline: 1px solid var(--blue);
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.product-list__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    text-decoration: none;
}

.product-list__card img {
    height: 250px;
    width: 250px;
    display: block;
    border-radius: 4px;
}

.product-item__name {
    font-size: 24px;
    color: var(--blue);
}
.product-item__price {
    color: var(--orange);
    font-size: 32px;
    font-weight: bold;
}

.product-item__price-description {
    color: var(--gray);
    font-size: 12px;
    font-weight: bold;
}

.product-item__buy-button {
    background-color: var(--blue);
    border: none;
    color: white;
    font-size: 20px;
    padding: 6px 12px;
}

.product-item__buy-button:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

/*footer*/
.footer {
    background-color: lightgray;
    color: gray;
    font-size: 18px;
    display: flex;
    flex-flow: row wrap;
  }
  
  .footer__container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 20px;
 
  
    
  }
  
  .footer__copyright {
    text-align: center;
    margin-top: 20px;
    background-color: lightgray;
    font-weight: bold;
    padding: 20px;
    color: gray;
  }
  
  .footer__title {
    font-size: 22px;
    font-weight: bold;
    color: blue;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .footer__about-text {
    width: 400px;
    text-align: center;
  }
  .footer i {
    color: orange;
  }
  
  .footer li {
    margin: 10px 0;
  }
  






